<div class="container">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="form-group ">
        <label for="inputEmail4">Codigo</label>
        <input type="number" class="form-control" id="codigoReturn" placeholder="codigo" disabled="true">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-2">
      <div class="form-group ">
        <label for="inputEmail4">Codigo</label>
        <input type="number" class="form-control" id="codigoBuscar" placeholder="codigo">
      </div>
      <button style="width: 160px;" type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: voce@hotmail.com">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Senha</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Ex: sua senha">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Bairro</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Ex: Centro">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Endereço</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Ex: Quadra">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Ex: Goiania">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>DF</option>
              <option>GO</option>
              <option>TO</option>
              <option>SP</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">CEP</label>
            <input type="text" class="form-control" id="inputZip" placeholder="Ex: 75258-861">
          </div>
        </div>
        <button style="width: 25%;" type="submit" class="btn btn-success">Salvar</button>
      </form>
    </div>
  </div>
  <hr>
  <h4>The King</h4>
  <hr>
</div>