<div class="container">
  <div class="row">
    <div class="col-6 col-md-12">
      <h1>Users Relations on the Database</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>Anisberto Reis</td>
            <td>anisbertoos@gmail.com</td>
            <td>62 9 9294-7507</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Anisberto Reis</td>
            <td>anisbertoos@gmail.com</td>
            <td>62 9 9294-7507</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>